html body {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url(https://image.freepik.com/free-photo/tropical-green-leaves-background_53876-88891.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
}

div.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 30% 60%;
    background-color: rgba(51, 51, 51, 0.5);
    height: 100%;
}

div.atv img {
    width: 200px;
    height: 150px;
}

div.info {
    grid-area: 2 / 1 / 3 / 4;
    height: 30%;
    padding-left: 20px;
}



div.c-atv {
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 90%;
}

div.c-atv h4 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    padding-left: 20px;
}



div.cardatv {
    display: flex;
    justify-content: space-around;
    grid-area: 2 / 1 / 3 / 4;
}

div.atv {
    background-color: rgb(55, 88, 62);
    text-align: center;
    border:  solid 4px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    align-self: center;
    min-height: 280px;
}



div.headline {
    padding-left: 20px;
    text-align: left;
    justify-self: left;
    justify-items: left ;
}

div.h-main {
    display: flex;
    align-items: flex-end;
}

div.c-img {
 display: grid;
 grid-area: 1 / 1 / 2 / 2 ;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat 100px 30px;
}

div.c-img h3 {
   grid-area: 2 / 1 / 3 / 2;
   padding-left: 20px;
   align-self: center;
   visibility: hidden;
}

div.c-img h1 {
    grid-area: 3 / 1 / 4 / 2;
    align-self: end;
 }

img.img-profile {
    height: 100px;
    border: solid 4px blanchedalmond;
    border-radius: 90%;
    grid-area: 2 / 2 / 3 / 3;
    display: none;
}

.btn {
    text-decoration: none;
    color: blanchedalmond;
    text-transform: uppercase;
    border: 2px solid blanchedalmond;
    background-color: rgba(255, 235, 205,0.2);
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.btn:hover {
    text-decoration: none;
    color: rgb(95, 95, 95);
    text-transform: uppercase;
    border: 2px solid blanchedalmond;
    background-color: blanchedalmond;
}

div.nav {
    grid-area: 1 / 1 / 2 / 4;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 1fr);
    align-content: end;
}

div.nav div {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.atv:hover {
    transform: scale(1.1);
}

